In [109]:
# Import the dependencies
import pandas as pd
import numpy as np
import math

In [110]:
# Store the CSV into a DataFrame
government_regulation_df = pd.read_csv("Resources_mk/OxCGRT_latest(Aug31,2020).csv")
covid_stats_df = pd.read_csv("Resources_mk/owid-covid-data(Aug31,2020).csv")

/home/sami/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Inspect and Clean: government_regulation_df

In [111]:
# Review initial DataFrame
government_regulation_df.head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [112]:
# Review data types to ensure appropriateness
government_regulation_df.dtypes

CountryName                               object
CountryCode                               object
RegionName                                object
RegionCode                                object
Date                                       int64
C1_School closing                        float64
C1_Flag                                  float64
C2_Workplace closing                     float64
C2_Flag                                  float64
C3_Cancel public events                  float64
C3_Flag                                  float64
C4_Restrictions on gatherings            float64
C4_Flag                                  float64
C5_Close public transport                float64
C5_Flag                                  float64
C6_Stay at home requirements             float64
C6_Flag                                  float64
C7_Restrictions on internal movement     float64
C7_Flag                                  float64
C8_International travel controls         float64
E1_Income support                        float64
E1_Flag                                  float64
E2_Debt/contract relief                  float64
E3_Fiscal measures                       float64
E4_International support                 float64
H1_Public information campaigns          float64
H1_Flag                                  float64
H2_Testing policy                        float64
H3_Contact tracing                       float64
H4_Emergency investment in healthcare    float64
H5_Investment in vaccines                float64
M1_Wildcard                              float64
ConfirmedCases                           float64
ConfirmedDeaths                          float64
StringencyIndex                          float64
StringencyIndexForDisplay                float64
StringencyLegacyIndex                    float64
StringencyLegacyIndexForDisplay          float64
GovernmentResponseIndex                  float64
GovernmentResponseIndexForDisplay        float64
ContainmentHealthIndex                   float64
ContainmentHealthIndexForDisplay         float64
EconomicSupportIndex                     float64
EconomicSupportIndexForDisplay           float64
dtype: object

In [113]:
# Convert "Date" column to format datetime
government_regulation_df['Date_updated'] = pd.to_datetime(government_regulation_df['Date'].astype(str), format='%Y%m%d')

# Drop old "Date" column
government_regulation_df = government_regulation_df.drop(["Date"], axis=1)

# Rearrange columns
government_regulation_df = government_regulation_df[['Date_updated', 
                                                     'CountryName',
                                                     'CountryCode',
                                                     'RegionName',
                                                     'RegionCode',
                                                     'C1_School closing',
                                                     'C1_Flag',
                                                     'C2_Workplace closing',
                                                     'C2_Flag',
                                                     'C3_Cancel public events',
                                                     'C3_Flag',
                                                     'C4_Restrictions on gatherings',
                                                     'C4_Flag', 
                                                     'C5_Close public transport',
                                                     'C5_Flag',
                                                     'C6_Stay at home requirements',
                                                     'C6_Flag',
                                                     'C7_Restrictions on internal movement',
                                                     'C7_Flag',
                                                     'C8_International travel controls',
                                                     'E1_Income support',
                                                     'E1_Flag',
                                                     'E2_Debt/contract relief',
                                                     'E3_Fiscal measures',
                                                     'E4_International support',
                                                     'H1_Public information campaigns',
                                                     'H1_Flag', 
                                                     'H2_Testing policy',
                                                     'H3_Contact tracing',
                                                     'H4_Emergency investment in healthcare',
                                                     'H5_Investment in vaccines',
                                                     'M1_Wildcard',
                                                     'ConfirmedCases',
                                                     'ConfirmedDeaths',
                                                     'StringencyIndex',
                                                     'StringencyIndexForDisplay',
                                                     'StringencyLegacyIndex',
                                                     'StringencyLegacyIndexForDisplay',
                                                     'GovernmentResponseIndex',
                                                     'GovernmentResponseIndexForDisplay',
                                                     'ContainmentHealthIndex',
                                                     'ContainmentHealthIndexForDisplay',
                                                     'EconomicSupportIndex',
                                                     'EconomicSupportIndexForDisplay'
                                                    ]]

government_regulation_df.head()

,Date_updated,CountryName,CountryCode,RegionName,RegionCode,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,2020-01-01,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-02,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-03,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-04,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-05,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
# Re-review data types to ensure appropriateness
# government_regulation_df.dtypes

In [115]:
# Ensure completeness
# government_regulation_df.count()

In [116]:
# Drop "M1_Wildcard" column as there is no useable data
government_regulation_df = government_regulation_df.drop(["M1_Wildcard"], axis=1)

# government_regulation_df.count()

In [117]:
# Drop columns deemed redundant/not useful 
government_regulation_df = government_regulation_df.drop(['C1_School closing', 
                                                          'C1_Flag', 
                                                          'C2_Workplace closing',
                                                          'C2_Flag', 
                                                          'C3_Cancel public events', 
                                                          'C3_Flag', 
                                                          'C4_Restrictions on gatherings', 
                                                          'C4_Flag', 
                                                          'C5_Close public transport',
                                                          'C5_Flag', 
                                                          'C6_Stay at home requirements', 
                                                          'C6_Flag', 
                                                          'C7_Restrictions on internal movement', 
                                                          'C7_Flag', 
                                                          'C8_International travel controls',
                                                          'E1_Income support',
                                                          'E1_Flag',
                                                          'E2_Debt/contract relief',
                                                          'E3_Fiscal measures',
                                                          'E4_International support',
                                                          'H1_Public information campaigns',
                                                          'H1_Flag', 
                                                          'H2_Testing policy', 
                                                          'H3_Contact tracing', 
                                                          'H4_Emergency investment in healthcare', 
                                                          'H5_Investment in vaccines', 
                                                          'ConfirmedCases', 
                                                          'ConfirmedDeaths', 
                                                          'StringencyIndexForDisplay', 
                                                          'StringencyLegacyIndexForDisplay', 
                                                          'GovernmentResponseIndexForDisplay',
                                                          'ContainmentHealthIndexForDisplay',
                                                          'EconomicSupportIndexForDisplay'
                                                         ], axis=1)

# government_regulation_df

In [118]:
government_regulation_df

,Date_updated,CountryName,CountryCode,RegionName,RegionCode,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,2020-01-01,Aruba,ABW,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,2020-01-02,Aruba,ABW,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,2020-01-03,Aruba,ABW,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,2020-01-04,Aruba,ABW,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,2020-01-05,Aruba,ABW,NaN,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
58799,2020-08-27,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58800,2020-08-28,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58801,2020-08-29,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58802,2020-08-30,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58803,2020-08-31,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Inspect and Clean: covid_stats_df

In [119]:
# Review initial DataFrame
covid_stats_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29

In [120]:
# Review data types to ensure appropriateness
covid_stats_df.dtypes

iso_code                            object
continent                           object
location                            object
date                                object
total_cases                        float64
new_cases                          float64
new_cases_smoothed                 float64
total_deaths                       float64
new_deaths                         float64
new_deaths_smoothed                float64
total_cases_per_million            float64
new_cases_per_million              float64
new_cases_smoothed_per_million     float64
total_deaths_per_million           float64
new_deaths_per_million             float64
new_deaths_smoothed_per_million    float64
new_tests                          float64
total_tests                        float64
total_tests_per_thousand           float64
new_tests_per_thousand             float64
new_tests_smoothed                 float64
new_tests_smoothed_per_thousand    float64
tests_per_case                     float64
positive_rate                      float64
tests_units                         object
stringency_index                   float64
population                         float64
population_density                 float64
median_age                         float64
aged_65_older                      float64
aged_70_older                      float64
gdp_per_capita                     float64
extreme_poverty                    float64
cardiovasc_death_rate              float64
diabetes_prevalence                float64
female_smokers                     float64
male_smokers                       float64
handwashing_facilities             float64
hospital_beds_per_thousand         float64
life_expectancy                    float64
dtype: object

In [121]:
# Change "date" format by removing "-"
covid_stats_df['date'] = covid_stats_df['date'].str.replace('-','')

# Convert "date" column to format datetime
covid_stats_df['date_updated'] = pd.to_datetime(covid_stats_df['date'].astype(str), format='%Y%m%d')

# Drop old "date" column
covid_stats_df = covid_stats_df.drop(["date"], axis=1)

# Rearrange columns
covid_stats_df = covid_stats_df[['date_updated', 
                                 'iso_code',
                                 'continent',
                                 'location',
                                 'total_cases',
                                 'new_cases',
                                 'new_cases_smoothed',
                                 'total_deaths',
                                 'new_deaths',
                                 'new_deaths_smoothed',
                                 'total_cases_per_million',
                                 'new_cases_per_million',
                                 'new_cases_smoothed_per_million',
                                 'total_deaths_per_million',
                                 'new_deaths_per_million',
                                 'new_deaths_smoothed_per_million',
                                 'new_tests',
                                 'total_tests',
                                 'total_tests_per_thousand',
                                 'new_tests_per_thousand',
                                 'new_tests_smoothed',
                                 'new_tests_smoothed_per_thousand',
                                 'tests_per_case',
                                 'positive_rate',
                                 'tests_units',
                                 'stringency_index',
                                 'population',
                                 'population_density',
                                 'median_age',
                                 'aged_65_older',
                                 'aged_70_older',
                                 'gdp_per_capita',
                                 'extreme_poverty',
                                 'cardiovasc_death_rate',
                                 'diabetes_prevalence',
                                 'female_smokers',
                                 'male_smokers',
                                 'handwashing_facilities',
                                 'hospital_beds_per_thousand',
                                 'life_expectancy'
                                ]]
covid_stats_df.head()

,date_updated,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,2020-03-13,ABW,North America,Aruba,2.0,2.0,NaN,0.0,0.0,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
1,2020-03-19,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2,2020-03-20,ABW,North America,Aruba,4.0,2.0,0.286,0.0,0.0,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
3,2020-03-21,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
4,2020-03-22,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29

In [122]:
# Re-review data types to ensure appropriateness
covid_stats_df.dtypes

date_updated                       datetime64[ns]
iso_code                                   object
continent                                  object
location                                   object
total_cases                               float64
new_cases                                 float64
new_cases_smoothed                        float64
total_deaths                              float64
new_deaths                                float64
new_deaths_smoothed                       float64
total_cases_per_million                   float64
new_cases_per_million                     float64
new_cases_smoothed_per_million            float64
total_deaths_per_million                  float64
new_deaths_per_million                    float64
new_deaths_smoothed_per_million           float64
new_tests                                 float64
total_tests                               float64
total_tests_per_thousand                  float64
new_tests_per_thousand                    float64
new_tests_smoothed                        float64
new_tests_smoothed_per_thousand           float64
tests_per_case                            float64
positive_rate                             float64
tests_units                                object
stringency_index                          float64
population                                float64
population_density                        float64
median_age                                float64
aged_65_older                             float64
aged_70_older                             float64
gdp_per_capita                            float64
extreme_poverty                           float64
cardiovasc_death_rate                     float64
diabetes_prevalence                       float64
female_smokers                            float64
male_smokers                              float64
handwashing_facilities                    float64
hospital_beds_per_thousand                float64
life_expectancy                           float64
dtype: object

In [123]:
# Ensure completeness
covid_stats_df.count()

date_updated                       40748
iso_code                           40503
continent                          40258
location                           40748
total_cases                        40173
new_cases                          39992
new_cases_smoothed                 39210
total_deaths                       40173
new_deaths                         39992
new_deaths_smoothed                39210
total_cases_per_million            39928
new_cases_per_million              39928
new_cases_smoothed_per_million     39145
total_deaths_per_million           39928
new_deaths_per_million             39928
new_deaths_smoothed_per_million    39145
new_tests                          13112
total_tests                        13443
total_tests_per_thousand           13443
new_tests_per_thousand             13112
new_tests_smoothed                 14742
new_tests_smoothed_per_thousand    14742
tests_per_case                     13630
positive_rate                      13986
tests_units                        15497
stringency_index                   33598
population                         40503
population_density                 38693
median_age                         36390
aged_65_older                      35855
aged_70_older                      36202
gdp_per_capita                     35937
extreme_poverty                    23999
cardiovasc_death_rate              36403
diabetes_prevalence                37671
female_smokers                     28670
male_smokers                       28313
handwashing_facilities             16905
hospital_beds_per_thousand         32974
life_expectancy                    40002
dtype: int64

In [124]:
# Drop columns deemed redundant/not useful 
covid_stats_df = covid_stats_df.drop(['new_cases_smoothed', 
                                      'new_deaths_smoothed',
                                      'total_cases_per_million',
                                      'new_cases_per_million',
                                      'new_cases_smoothed_per_million',
                                      'total_deaths_per_million',
                                      'new_deaths_per_million',
                                      'new_deaths_smoothed_per_million',
                                      'total_tests_per_thousand',
                                      'new_tests_per_thousand',
                                      'new_tests_smoothed',
                                      'new_tests_smoothed_per_thousand'
                                     ], axis=1)

covid_stats_df

,date_updated,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,2020-03-13,ABW,North America,Aruba,2.0,2.0,0.0,0.0,NaN,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
1,2020-03-19,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2,2020-03-20,ABW,North America,Aruba,4.0,2.0,0.0,0.0,NaN,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
3,2020-03-21,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
4,2020-03-22,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40743,2020-08-27,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40744,2020-08-28,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40745,2020-08-29,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40746,2020-08-30,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40747,2020-08-31,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

covid_stats_df["iso_code"] = covid_stats_df["iso_code"].fillna("nan")

In [125]:
# Drop rows based on countries not included in "government_regulation_df"
covid_stats_cc = covid_stats_df["iso_code"].unique()
government_regulation_cc = government_regulation_df["CountryCode"].unique()

covid_stats_remove = [cc for cc in covid_stats_cc if cc not in government_regulation_cc]
government_regulation_remove = [cc for cc in government_regulation_cc if cc not in covid_stats_cc]

In [126]:
covid_stats_remove

['ARM',
 'ATG',
 'BES',
 'BHS',
 'COM',
 'CUW',
 'ESH',
 'FRO',
 'GGY',
 'GNB',
 'GNQ',
 'GRD',
 'IMN',
 'JEY',
 'KNA',
 'LCA',
 'LIE',
 'MCO',
 'MDV',
 'MKD',
 'MLT',
 'MNE',
 'MNP',
 'NCL',
 'PYF',
 'STP',
 'SXM',
 'VAT',
 'VCT',
 'VIR',
 'OWID_KOS',
 'OWID_WRL',
 nan]

In [127]:
government_regulation_remove

['MAC', 'PCN', 'RKS', 'SLB', 'TKM', 'VUT']

In [128]:
covid_stats_df = covid_stats_df[~covid_stats_df["iso_code"].isin(covid_stats_remove)]
government_regulation_df = government_regulation_df[~government_regulation_df["CountryCode"].isin(government_regulation_remove)]

In [129]:
covid_stats_df.shape

(34927, 28)

In [131]:
covid_stats_df.count()

date_updated                  34927
iso_code                      34927
continent                     34927
location                      34927
total_cases                   34447
new_cases                     34447
total_deaths                  34447
new_deaths                    34447
new_tests                     12783
total_tests                   13103
tests_per_case                13312
positive_rate                 13657
tests_units                   15124
stringency_index              33431
population                    34927
population_density            33900
median_age                    32893
aged_65_older                 32486
aged_70_older                 32705
gdp_per_capita                32719
extreme_poverty               22293
cardiovasc_death_rate         33377
diabetes_prevalence           33723
female_smokers                27341
male_smokers                  26984
handwashing_facilities        15475
hospital_beds_per_thousand    30017
life_expectancy               34927
dtype: int64

In [130]:
government_regulation_df.shape

(57340, 10)

In [132]:
government_regulation_df.count()

Date_updated               57340
CountryName                57340
CountryCode                57340
RegionName                 13664
RegionCode                 13664
StringencyIndex            55525
StringencyLegacyIndex      55565
GovernmentResponseIndex    54772
ContainmentHealthIndex     55009
EconomicSupportIndex       54370
dtype: int64

### Initial Analysis