In [1]:
# Import the dependencies
import pandas as pd
import numpy as np

In [2]:
# Store the CSV into a DataFrame
government_regulation_df = pd.read_csv("../Resources/raw/OxCGRT_latest(Aug31,2020).csv")
covid_stats_df = pd.read_csv("../Resources/raw/owid-covid-data(Aug31,2020).csv")

C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Inspect and Clean: government_regulation_df

In [3]:
# Review initial DataFrame
government_regulation_df.head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Review data types to ensure appropriateness
government_regulation_df.dtypes

CountryName                               object
CountryCode                               object
RegionName                                object
RegionCode                                object
Date                                       int64
C1_School closing                        float64
C1_Flag                                  float64
C2_Workplace closing                     float64
C2_Flag                                  float64
C3_Cancel public events                  float64
C3_Flag                                  float64
C4_Restrictions on gatherings            float64
C4_Flag                                  float64
C5_Close public transport                float64
C5_Flag                                  float64
C6_Stay at home requirements             float64
C6_Flag                                  float64
C7_Restrictions on internal movement     float64
C7_Flag                                  float64
C8_International travel controls         float64
E1_Income support                        float64
E1_Flag                                  float64
E2_Debt/contract relief                  float64
E3_Fiscal measures                       float64
E4_International support                 float64
H1_Public information campaigns          float64
H1_Flag                                  float64
H2_Testing policy                        float64
H3_Contact tracing                       float64
H4_Emergency investment in healthcare    float64
H5_Investment in vaccines                float64
M1_Wildcard                              float64
ConfirmedCases                           float64
ConfirmedDeaths                          float64
StringencyIndex                          float64
StringencyIndexForDisplay                float64
StringencyLegacyIndex                    float64
StringencyLegacyIndexForDisplay          float64
GovernmentResponseIndex                  float64
GovernmentResponseIndexForDisplay        float64
ContainmentHealthIndex                   float64
ContainmentHealthIndexForDisplay         float64
EconomicSupportIndex                     float64
EconomicSupportIndexForDisplay           float64
dtype: object

In [5]:
# Convert "Date" column to format datetime
government_regulation_df['Date_updated'] = pd.to_datetime(government_regulation_df['Date'].astype(str), format='%Y%m%d')

# Drop old "Date" column
government_regulation_df = government_regulation_df.drop(["Date"], axis=1)

government_regulation_df.head()

,CountryName,CountryCode,RegionName,RegionCode,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,...,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay,Date_updated
0,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-01
1,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-02
2,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-03
3,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-04
4,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-05

In [6]:
# Re-review data types to ensure appropriateness
government_regulation_df.dtypes

CountryName                                      object
CountryCode                                      object
RegionName                                       object
RegionCode                                       object
C1_School closing                               float64
C1_Flag                                         float64
C2_Workplace closing                            float64
C2_Flag                                         float64
C3_Cancel public events                         float64
C3_Flag                                         float64
C4_Restrictions on gatherings                   float64
C4_Flag                                         float64
C5_Close public transport                       float64
C5_Flag                                         float64
C6_Stay at home requirements                    float64
C6_Flag                                         float64
C7_Restrictions on internal movement            float64
C7_Flag                                         float64
C8_International travel controls                float64
E1_Income support                               float64
E1_Flag                                         float64
E2_Debt/contract relief                         float64
E3_Fiscal measures                              float64
E4_International support                        float64
H1_Public information campaigns                 float64
H1_Flag                                         float64
H2_Testing policy                               float64
H3_Contact tracing                              float64
H4_Emergency investment in healthcare           float64
H5_Investment in vaccines                       float64
M1_Wildcard                                     float64
ConfirmedCases                                  float64
ConfirmedDeaths                                 float64
StringencyIndex                                 float64
StringencyIndexForDisplay                       float64
StringencyLegacyIndex                           float64
StringencyLegacyIndexForDisplay                 float64
GovernmentResponseIndex                         float64
GovernmentResponseIndexForDisplay               float64
ContainmentHealthIndex                          float64
ContainmentHealthIndexForDisplay                float64
EconomicSupportIndex                            float64
EconomicSupportIndexForDisplay                  float64
Date_updated                             datetime64[ns]
dtype: object

In [7]:
# Ensure completeness
government_regulation_df.count()

CountryName                              58804
CountryCode                              58804
RegionName                               13664
RegionCode                               13664
C1_School closing                        57121
C1_Flag                                  36208
C2_Workplace closing                     57007
C2_Flag                                  33923
C3_Cancel public events                  57084
C3_Flag                                  37034
C4_Restrictions on gatherings            57051
C4_Flag                                  34034
C5_Close public transport                57209
C5_Flag                                  21786
C6_Stay at home requirements             57051
C6_Flag                                  30527
C7_Restrictions on internal movement     57163
C7_Flag                                  30043
C8_International travel controls         57053
E1_Income support                        56111
E1_Flag                                  28100
E2_Debt/contract relief                  55682
E3_Fiscal measures                       46504
E4_International support                 46698
H1_Public information campaigns          56599
H1_Flag                                  45838
H2_Testing policy                        56255
H3_Contact tracing                       56216
H4_Emergency investment in healthcare    46008
H5_Investment in vaccines                46411
M1_Wildcard                                  0
ConfirmedCases                           46187
ConfirmedDeaths                          46187
StringencyIndex                          56948
StringencyIndexForDisplay                57740
StringencyLegacyIndex                    56988
StringencyLegacyIndexForDisplay          57780
GovernmentResponseIndex                  55972
GovernmentResponseIndexForDisplay        56763
ContainmentHealthIndex                   56209
ContainmentHealthIndexForDisplay         57000
EconomicSupportIndex                     55570
EconomicSupportIndexForDisplay           56313
Date_updated                             58804
dtype: int64

In [8]:
# Drop "M1_Wildcard" column as there is no useable data
government_regulation_df = government_regulation_df.drop(["M1_Wildcard"], axis=1)

government_regulation_df.count()

CountryName                              58804
CountryCode                              58804
RegionName                               13664
RegionCode                               13664
C1_School closing                        57121
C1_Flag                                  36208
C2_Workplace closing                     57007
C2_Flag                                  33923
C3_Cancel public events                  57084
C3_Flag                                  37034
C4_Restrictions on gatherings            57051
C4_Flag                                  34034
C5_Close public transport                57209
C5_Flag                                  21786
C6_Stay at home requirements             57051
C6_Flag                                  30527
C7_Restrictions on internal movement     57163
C7_Flag                                  30043
C8_International travel controls         57053
E1_Income support                        56111
E1_Flag                                  28100
E2_Debt/contract relief                  55682
E3_Fiscal measures                       46504
E4_International support                 46698
H1_Public information campaigns          56599
H1_Flag                                  45838
H2_Testing policy                        56255
H3_Contact tracing                       56216
H4_Emergency investment in healthcare    46008
H5_Investment in vaccines                46411
ConfirmedCases                           46187
ConfirmedDeaths                          46187
StringencyIndex                          56948
StringencyIndexForDisplay                57740
StringencyLegacyIndex                    56988
StringencyLegacyIndexForDisplay          57780
GovernmentResponseIndex                  55972
GovernmentResponseIndexForDisplay        56763
ContainmentHealthIndex                   56209
ContainmentHealthIndexForDisplay         57000
EconomicSupportIndex                     55570
EconomicSupportIndexForDisplay           56313
Date_updated                             58804
dtype: int64

In [9]:
# Remove all region data
government_regulation_df['RegionName'].replace('',np.nan,inplace=True)
government_regulation_df = government_regulation_df.loc[government_regulation_df['RegionName'].isnull()]
government_regulation_df

,CountryName,CountryCode,RegionName,RegionCode,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,...,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay,Date_updated
0,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-01
1,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-02
2,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-03
3,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-04
4,Aruba,ABW,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58799,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.56,NaN,88.1,NaN,66.03,NaN,73.48,NaN,25.0,2020-08-27
58800,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.56,NaN,88.1,NaN,66.03,NaN,73.48,NaN,25.0,2020-08-28
58801,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.56,NaN,88.1,NaN,66.03,NaN,73.48,NaN,25.0,2020-08-29
58802,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.56,NaN,88.1,NaN,66.03,NaN,73.48,NaN,25.0,2020-08-30
58803,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.56,NaN,88.1,NaN,66.03,NaN,73.48,NaN,25.0,2020-08-31

In [10]:
# Drop columns deemed redundant/not useful 
government_regulation_df = government_regulation_df.drop(['C1_School closing', 
                                                          'C1_Flag', 
                                                          'C2_Workplace closing',
                                                          'C2_Flag', 
                                                          'C3_Cancel public events', 
                                                          'C3_Flag', 
                                                          'C4_Restrictions on gatherings', 
                                                          'C4_Flag', 
                                                          'C5_Close public transport',
                                                          'C5_Flag', 
                                                          'C6_Stay at home requirements', 
                                                          'C6_Flag', 
                                                          'C7_Restrictions on internal movement', 
                                                          'C7_Flag', 
                                                          'C8_International travel controls',
                                                          'E1_Income support',
                                                          'E1_Flag',
                                                          'E2_Debt/contract relief',
                                                          'E3_Fiscal measures',
                                                          'E4_International support',
                                                          'H1_Public information campaigns',
                                                          'H1_Flag', 
                                                          'H2_Testing policy', 
                                                          'H3_Contact tracing', 
                                                          'H4_Emergency investment in healthcare', 
                                                          'H5_Investment in vaccines', 
                                                          'ConfirmedCases', 
                                                          'ConfirmedDeaths', 
                                                          'StringencyIndexForDisplay', 
                                                          'StringencyLegacyIndexForDisplay', 
                                                          'GovernmentResponseIndexForDisplay',
                                                          'ContainmentHealthIndexForDisplay',
                                                          'EconomicSupportIndexForDisplay',
                                                          'RegionName',
                                                          'RegionCode'
                                                         ], axis=1)

government_regulation_df

,CountryName,CountryCode,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex,Date_updated
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-01
1,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-02
2,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-03
3,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-04
4,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-05
...,...,...,...,...,...,...,...,...
58799,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-27
58800,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-28
58801,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-29
58802,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-30
58803,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-31

In [11]:
government_regulation_df

,CountryName,CountryCode,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex,Date_updated
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-01
1,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-02
2,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-03
3,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-04
4,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-05
...,...,...,...,...,...,...,...,...
58799,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-27
58800,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-28
58801,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-29
58802,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-30
58803,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,2020-08-31

In [12]:
# Drop rows based on countries not included in "covid_stats_df"
index_drop_codes = government_regulation_df[(government_regulation_df["CountryCode"] == "MAC") |
                                            (government_regulation_df["CountryCode"] == "PCN") |
                                            (government_regulation_df["CountryCode"] == "RKS") |
                                            (government_regulation_df["CountryCode"] == "SLB") |
                                            (government_regulation_df["CountryCode"] == "TKM") |
                                            (government_regulation_df["CountryCode"] == "VUT")                                      
                                           ].index

government_regulation_df.drop(index_drop_codes, inplace=True)

government_regulation_df.head(10)

,CountryName,CountryCode,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex,Date_updated
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-01
1,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-02
2,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-03
3,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-04
4,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-05
5,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-06
6,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-07
7,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-08
8,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-09
9,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,2020-01-10

In [13]:
# In all "Index" columns, replace NaN with proceeding value 
locations = list(government_regulation_df['CountryName'].unique())

DFlist = []

for location in locations:
    newDF = government_regulation_df.loc[government_regulation_df['CountryName'] == location]
    
    StringencyIndex = newDF['StringencyIndex']
    StringencyLegacyIndex = newDF['StringencyLegacyIndex']
    GovernmentResponseIndex = newDF['GovernmentResponseIndex']
    ContainmentHealthIndex = newDF['ContainmentHealthIndex']
    EconomicSupportIndex = newDF['EconomicSupportIndex']
    
    filled_StringencyIndex = StringencyIndex.fillna(method="ffill")
    filled_StringencyLegacyIndex = StringencyLegacyIndex.fillna(method="ffill")
    filled_GovernmentResponseIndex = GovernmentResponseIndex.fillna(method="ffill")
    filled_ContainmentHealthIndex = ContainmentHealthIndex.fillna(method="ffill")
    filled_EconomicSupportIndex = EconomicSupportIndex.fillna(method="ffill")
    
    newDF['StringencyIndex_updated'] = filled_StringencyIndex
    newDF['StringencyLegacyIndex_updated'] = filled_StringencyLegacyIndex
    newDF['GovernmentResponseIndex_updated'] = filled_GovernmentResponseIndex
    newDF['ContainmentHealthIndex_updated'] = filled_ContainmentHealthIndex
    newDF['EconomicSupportIndex_updated'] = filled_EconomicSupportIndex
    
    newDF.drop(columns=['StringencyIndex'], inplace=True)
    newDF.drop(columns=['StringencyLegacyIndex'], inplace=True)
    newDF.drop(columns=['GovernmentResponseIndex'], inplace=True)
    newDF.drop(columns=['ContainmentHealthIndex'], inplace=True)
    newDF.drop(columns=['EconomicSupportIndex'], inplace=True)
    
    DFlist.append(newDF)
    government_regulation_CLEAN = pd.concat(DFlist)
    
display(government_regulation_CLEAN)

C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,CountryName,CountryCode,Date_updated,StringencyIndex_updated,StringencyLegacyIndex_updated,GovernmentResponseIndex_updated,ContainmentHealthIndex_updated,EconomicSupportIndex_updated
0,Aruba,ABW,2020-01-01,0.00,0.0,0.00,0.00,0.0
1,Aruba,ABW,2020-01-02,0.00,0.0,0.00,0.00,0.0
2,Aruba,ABW,2020-01-03,0.00,0.0,0.00,0.00,0.0
3,Aruba,ABW,2020-01-04,0.00,0.0,0.00,0.00,0.0
4,Aruba,ABW,2020-01-05,0.00,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...
58799,Zimbabwe,ZWE,2020-08-27,80.56,88.1,66.03,73.48,25.0
58800,Zimbabwe,ZWE,2020-08-28,80.56,88.1,66.03,73.48,25.0
58801,Zimbabwe,ZWE,2020-08-29,80.56,88.1,66.03,73.48,25.0
58802,Zimbabwe,ZWE,2020-08-30,80.56,88.1,66.03,73.48,25.0
58803,Zimbabwe,ZWE,2020-08-31,80.56,88.1,66.03,73.48,25.0

In [14]:
# Create new column - percentage change for stringency index
government_regulation_CLEAN["percentage_change_stringency"] = government_regulation_CLEAN["StringencyIndex_updated"].pct_change()*100
government_regulation_CLEAN['percentage_change_stringency'].fillna(0, inplace=True)

government_regulation_CLEAN["percentage_change_GovernmentResponse"] = government_regulation_CLEAN["GovernmentResponseIndex_updated"].pct_change()*100
government_regulation_CLEAN['percentage_change_GovernmentResponse'].fillna(0, inplace=True)

government_regulation_CLEAN["percentage_change_ContainmentHealth"] = government_regulation_CLEAN["ContainmentHealthIndex_updated"].pct_change()*100
government_regulation_CLEAN['percentage_change_ContainmentHealth'].fillna(0, inplace=True)

government_regulation_CLEAN["percentage_change_EconomicSupport"] = government_regulation_CLEAN["EconomicSupportIndex_updated"].pct_change()*100
government_regulation_CLEAN['percentage_change_EconomicSupport'].fillna(0, inplace=True)

government_regulation_CLEAN = government_regulation_CLEAN[['Date_updated',
                                                          'CountryName',
                                                          'CountryCode',
                                                          'StringencyIndex_updated',
                                                          'percentage_change_stringency',
                                                          'StringencyLegacyIndex_updated',
                                                          'GovernmentResponseIndex_updated',
                                                          'percentage_change_GovernmentResponse', 
                                                          'ContainmentHealthIndex_updated',
                                                          'percentage_change_ContainmentHealth', 
                                                          'EconomicSupportIndex_updated',
                                                          'percentage_change_EconomicSupport'
                                                         ]]

# Replace inf with 0 
government_regulation_CLEAN.replace(np.inf, 0, inplace=True)

government_regulation_CLEAN

,Date_updated,CountryName,CountryCode,StringencyIndex_updated,percentage_change_stringency,StringencyLegacyIndex_updated,GovernmentResponseIndex_updated,percentage_change_GovernmentResponse,ContainmentHealthIndex_updated,percentage_change_ContainmentHealth,EconomicSupportIndex_updated,percentage_change_EconomicSupport
0,2020-01-01,Aruba,ABW,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0
1,2020-01-02,Aruba,ABW,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0
2,2020-01-03,Aruba,ABW,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0
3,2020-01-04,Aruba,ABW,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0
4,2020-01-05,Aruba,ABW,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
58799,2020-08-27,Zimbabwe,ZWE,80.56,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0
58800,2020-08-28,Zimbabwe,ZWE,80.56,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0
58801,2020-08-29,Zimbabwe,ZWE,80.56,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0
58802,2020-08-30,Zimbabwe,ZWE,80.56,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0
58803,2020-08-31,Zimbabwe,ZWE,80.56,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0

### Inspect and Clean: covid_stats_df

In [15]:
# Review initial DataFrame
covid_stats_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29

In [16]:
# Review data types to ensure appropriateness
covid_stats_df.dtypes

iso_code                            object
continent                           object
location                            object
date                                object
total_cases                        float64
new_cases                          float64
new_cases_smoothed                 float64
total_deaths                       float64
new_deaths                         float64
new_deaths_smoothed                float64
total_cases_per_million            float64
new_cases_per_million              float64
new_cases_smoothed_per_million     float64
total_deaths_per_million           float64
new_deaths_per_million             float64
new_deaths_smoothed_per_million    float64
new_tests                          float64
total_tests                        float64
total_tests_per_thousand           float64
new_tests_per_thousand             float64
new_tests_smoothed                 float64
new_tests_smoothed_per_thousand    float64
tests_per_case                     float64
positive_rate                      float64
tests_units                         object
stringency_index                   float64
population                         float64
population_density                 float64
median_age                         float64
aged_65_older                      float64
aged_70_older                      float64
gdp_per_capita                     float64
extreme_poverty                    float64
cardiovasc_death_rate              float64
diabetes_prevalence                float64
female_smokers                     float64
male_smokers                       float64
handwashing_facilities             float64
hospital_beds_per_thousand         float64
life_expectancy                    float64
dtype: object

In [17]:
# Change "date" format by removing "-"
covid_stats_df['date'] = covid_stats_df['date'].str.replace('-','')

# Convert "date" column to format datetime
covid_stats_df['date_updated'] = pd.to_datetime(covid_stats_df['date'].astype(str), format='%Y%m%d')

# Drop old "date" column
covid_stats_df = covid_stats_df.drop(["date"], axis=1)

covid_stats_df.head()

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,date_updated
0,ABW,North America,Aruba,2.0,2.0,NaN,0.0,0.0,NaN,18.733,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,2020-03-13
1,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,2020-03-19
2,ABW,North America,Aruba,4.0,2.0,0.286,0.0,0.0,0.0,37.465,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,2020-03-20
3,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,2020-03-21
4,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,2020-03-22

In [18]:
# Re-review data types to ensure appropriateness
covid_stats_df.dtypes

iso_code                                   object
continent                                  object
location                                   object
total_cases                               float64
new_cases                                 float64
new_cases_smoothed                        float64
total_deaths                              float64
new_deaths                                float64
new_deaths_smoothed                       float64
total_cases_per_million                   float64
new_cases_per_million                     float64
new_cases_smoothed_per_million            float64
total_deaths_per_million                  float64
new_deaths_per_million                    float64
new_deaths_smoothed_per_million           float64
new_tests                                 float64
total_tests                               float64
total_tests_per_thousand                  float64
new_tests_per_thousand                    float64
new_tests_smoothed                        float64
new_tests_smoothed_per_thousand           float64
tests_per_case                            float64
positive_rate                             float64
tests_units                                object
stringency_index                          float64
population                                float64
population_density                        float64
median_age                                float64
aged_65_older                             float64
aged_70_older                             float64
gdp_per_capita                            float64
extreme_poverty                           float64
cardiovasc_death_rate                     float64
diabetes_prevalence                       float64
female_smokers                            float64
male_smokers                              float64
handwashing_facilities                    float64
hospital_beds_per_thousand                float64
life_expectancy                           float64
date_updated                       datetime64[ns]
dtype: object

In [19]:
# Ensure completeness
covid_stats_df.count()

iso_code                           40503
continent                          40258
location                           40748
total_cases                        40173
new_cases                          39992
new_cases_smoothed                 39210
total_deaths                       40173
new_deaths                         39992
new_deaths_smoothed                39210
total_cases_per_million            39928
new_cases_per_million              39928
new_cases_smoothed_per_million     39145
total_deaths_per_million           39928
new_deaths_per_million             39928
new_deaths_smoothed_per_million    39145
new_tests                          13112
total_tests                        13443
total_tests_per_thousand           13443
new_tests_per_thousand             13112
new_tests_smoothed                 14742
new_tests_smoothed_per_thousand    14742
tests_per_case                     13630
positive_rate                      13986
tests_units                        15497
stringency_index                   33598
population                         40503
population_density                 38693
median_age                         36390
aged_65_older                      35855
aged_70_older                      36202
gdp_per_capita                     35937
extreme_poverty                    23999
cardiovasc_death_rate              36403
diabetes_prevalence                37671
female_smokers                     28670
male_smokers                       28313
handwashing_facilities             16905
hospital_beds_per_thousand         32974
life_expectancy                    40002
date_updated                       40748
dtype: int64

In [20]:
# Drop columns deemed redundant/not useful 
covid_stats_df = covid_stats_df.drop(['new_cases_smoothed', 
                                      'new_deaths_smoothed',
                                      'total_cases_per_million',
                                      'new_cases_per_million',
                                      'new_cases_smoothed_per_million',
                                      'total_deaths_per_million',
                                      'new_deaths_per_million',
                                      'new_deaths_smoothed_per_million',
                                      'total_tests_per_thousand',
                                      'new_tests_per_thousand',
                                      'new_tests_smoothed',
                                      'new_tests_smoothed_per_thousand',
                                      'stringency_index',
                                      'aged_65_older',
                                      'aged_70_older',
                                      'gdp_per_capita',
                                      'extreme_poverty',
                                      'cardiovasc_death_rate',
                                      'diabetes_prevalence',
                                      'female_smokers',
                                      'male_smokers',
                                      'handwashing_facilities',
                                      'hospital_beds_per_thousand',
                                      'life_expectancy',
                                      'tests_per_case',
                                      'positive_rate',
                                      'tests_units'
                                     ], axis=1)

covid_stats_df

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,population,population_density,median_age,date_updated
0,ABW,North America,Aruba,2.0,2.0,0.0,0.0,NaN,NaN,106766.0,584.8,41.2,2020-03-13
1,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,584.8,41.2,2020-03-19
2,ABW,North America,Aruba,4.0,2.0,0.0,0.0,NaN,NaN,106766.0,584.8,41.2,2020-03-20
3,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,584.8,41.2,2020-03-21
4,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,584.8,41.2,2020-03-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40743,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-27
40744,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-28
40745,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-29
40746,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-30
40747,NaN,NaN,International,696.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31

In [21]:
# Drop rows based on countries not included in "government_regulation_df"
index_drop_codes = covid_stats_df[(covid_stats_df['iso_code'] == 'ARM') |
                                  (covid_stats_df['iso_code'] == 'ATG') |
                                  (covid_stats_df['iso_code'] == 'BES') |
                                  (covid_stats_df['iso_code'] == 'BHS') |
                                  (covid_stats_df['iso_code'] == 'COM') |
                                  (covid_stats_df['iso_code'] == 'CUW') |
                                  (covid_stats_df['iso_code'] == 'ESH') |
                                  (covid_stats_df['iso_code'] == 'FRO') | 
                                  (covid_stats_df['iso_code'] == 'GGY') |
                                  (covid_stats_df['iso_code'] == 'GNB') |
                                  (covid_stats_df['iso_code'] == 'GNQ') |
                                  (covid_stats_df['iso_code'] == 'GRD') |
                                  (covid_stats_df['iso_code'] == 'IMN') |
                                  (covid_stats_df['iso_code'] == 'JEY') |
                                  (covid_stats_df['iso_code'] == 'KNA') |
                                  (covid_stats_df['iso_code'] == 'LCA') |
                                  (covid_stats_df['iso_code'] == 'LIE') |
                                  (covid_stats_df['iso_code'] == 'MCO') |
                                  (covid_stats_df['iso_code'] == 'MDV') |
                                  (covid_stats_df['iso_code'] == 'MKD') |
                                  (covid_stats_df['iso_code'] == 'MLT') |
                                  (covid_stats_df['iso_code'] == 'MNE') |
                                  (covid_stats_df['iso_code'] == 'MNP') |
                                  (covid_stats_df['iso_code'] == 'NCL') |
                                  (covid_stats_df['iso_code'] == 'OWID_KOS') |
                                  (covid_stats_df['iso_code'] == 'OWID_WRL') |
                                  (covid_stats_df['iso_code'] == 'PYF') |
                                  (covid_stats_df['iso_code'] == 'STP') |
                                  (covid_stats_df['iso_code'] == 'SXM') |
                                  (covid_stats_df['iso_code'] == 'VAT') |
                                  (covid_stats_df['iso_code'] == 'VCT') |
                                  (covid_stats_df['iso_code'] == 'VIR') |
                                  (covid_stats_df['location'] == 'International')
                                 ].index

covid_stats_df.drop(index_drop_codes, inplace=True)

covid_stats_df

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,population,population_density,median_age,date_updated
0,ABW,North America,Aruba,2.0,2.0,0.0,0.0,NaN,NaN,106766.0,584.800,41.2,2020-03-13
1,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,584.800,41.2,2020-03-19
2,ABW,North America,Aruba,4.0,2.0,0.0,0.0,NaN,NaN,106766.0,584.800,41.2,2020-03-20
3,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,584.800,41.2,2020-03-21
4,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,584.800,41.2,2020-03-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40253,ZWE,Africa,Zimbabwe,6251.0,55.0,179.0,13.0,951.0,95721.0,14862927.0,42.729,19.6,2020-08-27
40254,ZWE,Africa,Zimbabwe,6292.0,41.0,189.0,10.0,1551.0,97272.0,14862927.0,42.729,19.6,2020-08-28
40255,ZWE,Africa,Zimbabwe,6388.0,96.0,195.0,6.0,NaN,NaN,14862927.0,42.729,19.6,2020-08-29
40256,ZWE,Africa,Zimbabwe,6406.0,18.0,196.0,1.0,NaN,NaN,14862927.0,42.729,19.6,2020-08-30
40257,ZWE,Africa,Zimbabwe,6412.0,6.0,196.0,0.0,NaN,NaN,14862927.0,42.729,19.6,2020-08-31

In [22]:
# In all "new" columns, replace NaN with 0 
covid_stats_df['new_cases'].fillna(0, inplace=True)
covid_stats_df['new_deaths'].fillna(0, inplace=True)
covid_stats_df['new_tests'].fillna(0, inplace=True)
covid_stats_df

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,population,population_density,median_age,date_updated
0,ABW,North America,Aruba,2.0,2.0,0.0,0.0,0.0,NaN,106766.0,584.800,41.2,2020-03-13
1,ABW,North America,Aruba,NaN,0.0,NaN,0.0,0.0,NaN,106766.0,584.800,41.2,2020-03-19
2,ABW,North America,Aruba,4.0,2.0,0.0,0.0,0.0,NaN,106766.0,584.800,41.2,2020-03-20
3,ABW,North America,Aruba,NaN,0.0,NaN,0.0,0.0,NaN,106766.0,584.800,41.2,2020-03-21
4,ABW,North America,Aruba,NaN,0.0,NaN,0.0,0.0,NaN,106766.0,584.800,41.2,2020-03-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40253,ZWE,Africa,Zimbabwe,6251.0,55.0,179.0,13.0,951.0,95721.0,14862927.0,42.729,19.6,2020-08-27
40254,ZWE,Africa,Zimbabwe,6292.0,41.0,189.0,10.0,1551.0,97272.0,14862927.0,42.729,19.6,2020-08-28
40255,ZWE,Africa,Zimbabwe,6388.0,96.0,195.0,6.0,0.0,NaN,14862927.0,42.729,19.6,2020-08-29
40256,ZWE,Africa,Zimbabwe,6406.0,18.0,196.0,1.0,0.0,NaN,14862927.0,42.729,19.6,2020-08-30
40257,ZWE,Africa,Zimbabwe,6412.0,6.0,196.0,0.0,0.0,NaN,14862927.0,42.729,19.6,2020-08-31

In [23]:
# In all "total_cases" columns, replace NaN with proceeding value 
locations = list(covid_stats_df['location'].unique())

DFlist = []

for location in locations:
    newDF = covid_stats_df.loc[covid_stats_df['location'] == location]
    
    total_cases = newDF['total_cases']
    total_deaths = newDF['total_deaths']
    total_tests = newDF['total_tests']
    
    filled_total_cases = total_cases.fillna(method="ffill")
    filled_total_deaths = total_deaths.fillna(method="ffill")
    filled_total_test = total_tests.fillna(method="ffill")
    
    newDF['total_cases_updated'] = filled_total_cases
    newDF['total_deaths_updated'] = filled_total_deaths
    newDF['total_tests_updated'] = filled_total_test
    
    newDF.drop(columns=['total_cases'], inplace=True)
    newDF.drop(columns=['total_deaths'], inplace=True)
    newDF.drop(columns=['total_tests'], inplace=True)
    
    DFlist.append(newDF)
    covid_stats_CLEAN = pd.concat(DFlist)
    
display(covid_stats_CLEAN)

C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,iso_code,continent,location,new_cases,new_deaths,new_tests,population,population_density,median_age,date_updated,total_cases_updated,total_deaths_updated,total_tests_updated
0,ABW,North America,Aruba,2.0,0.0,0.0,106766.0,584.800,41.2,2020-03-13,2.0,0.0,NaN
1,ABW,North America,Aruba,0.0,0.0,0.0,106766.0,584.800,41.2,2020-03-19,2.0,0.0,NaN
2,ABW,North America,Aruba,2.0,0.0,0.0,106766.0,584.800,41.2,2020-03-20,4.0,0.0,NaN
3,ABW,North America,Aruba,0.0,0.0,0.0,106766.0,584.800,41.2,2020-03-21,4.0,0.0,NaN
4,ABW,North America,Aruba,0.0,0.0,0.0,106766.0,584.800,41.2,2020-03-22,4.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40253,ZWE,Africa,Zimbabwe,55.0,13.0,951.0,14862927.0,42.729,19.6,2020-08-27,6251.0,179.0,95721.0
40254,ZWE,Africa,Zimbabwe,41.0,10.0,1551.0,14862927.0,42.729,19.6,2020-08-28,6292.0,189.0,97272.0
40255,ZWE,Africa,Zimbabwe,96.0,6.0,0.0,14862927.0,42.729,19.6,2020-08-29,6388.0,195.0,97272.0
40256,ZWE,Africa,Zimbabwe,18.0,1.0,0.0,14862927.0,42.729,19.6,2020-08-30,6406.0,196.0,97272.0
40257,ZWE,Africa,Zimbabwe,6.0,0.0,0.0,14862927.0,42.729,19.6,2020-08-31,6412.0,196.0,97272.0

In [24]:
# It was discovered that for some countries there are is not any data on testing, will replace NaN with 0
covid_stats_CLEAN['total_tests_updated'].fillna(0, inplace=True)
covid_stats_CLEAN

,iso_code,continent,location,new_cases,new_deaths,new_tests,population,population_density,median_age,date_updated,total_cases_updated,total_deaths_updated,total_tests_updated
0,ABW,North America,Aruba,2.0,0.0,0.0,106766.0,584.800,41.2,2020-03-13,2.0,0.0,0.0
1,ABW,North America,Aruba,0.0,0.0,0.0,106766.0,584.800,41.2,2020-03-19,2.0,0.0,0.0
2,ABW,North America,Aruba,2.0,0.0,0.0,106766.0,584.800,41.2,2020-03-20,4.0,0.0,0.0
3,ABW,North America,Aruba,0.0,0.0,0.0,106766.0,584.800,41.2,2020-03-21,4.0,0.0,0.0
4,ABW,North America,Aruba,0.0,0.0,0.0,106766.0,584.800,41.2,2020-03-22,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40253,ZWE,Africa,Zimbabwe,55.0,13.0,951.0,14862927.0,42.729,19.6,2020-08-27,6251.0,179.0,95721.0
40254,ZWE,Africa,Zimbabwe,41.0,10.0,1551.0,14862927.0,42.729,19.6,2020-08-28,6292.0,189.0,97272.0
40255,ZWE,Africa,Zimbabwe,96.0,6.0,0.0,14862927.0,42.729,19.6,2020-08-29,6388.0,195.0,97272.0
40256,ZWE,Africa,Zimbabwe,18.0,1.0,0.0,14862927.0,42.729,19.6,2020-08-30,6406.0,196.0,97272.0
40257,ZWE,Africa,Zimbabwe,6.0,0.0,0.0,14862927.0,42.729,19.6,2020-08-31,6412.0,196.0,97272.0

In [25]:
# For all new and total columns
covid_stats_CLEAN['% of Pop - New Tests'] = (covid_stats_CLEAN['new_tests']/covid_stats_CLEAN['population'])*100
covid_stats_CLEAN['% of Pop - Total Tests'] = (covid_stats_CLEAN['total_tests_updated']/covid_stats_CLEAN['population'])*100

covid_stats_CLEAN['% of Pop - New Cases'] = (covid_stats_CLEAN['new_cases']/covid_stats_CLEAN['population'])*100
covid_stats_CLEAN['% of Pop - Total Cases'] = (covid_stats_CLEAN['total_cases_updated']/covid_stats_CLEAN['population'])*100

covid_stats_CLEAN['% of Pop - New Deaths'] = (covid_stats_CLEAN['new_deaths']/covid_stats_CLEAN['population'])
covid_stats_CLEAN['% of Pop - Total Deaths'] = (covid_stats_CLEAN['total_deaths_updated']/covid_stats_CLEAN['population'])*100

covid_stats_CLEAN = covid_stats_CLEAN[['date_updated',
                                       'iso_code',
                                       'continent',
                                       'location',
                                       'population',
                                       'population_density',
                                       'median_age',
                                       'new_cases',
                                       '% of Pop - New Cases',
                                       'new_deaths',
                                       '% of Pop - New Deaths',
                                       'new_tests',
                                       '% of Pop - New Tests',
                                       'total_cases_updated',
                                       '% of Pop - Total Cases',
                                       'total_deaths_updated',
                                       '% of Pop - Total Deaths',
                                       'total_tests_updated',
                                       '% of Pop - Total Tests'
                                       ]]

# Replace inf with 0 
covid_stats_CLEAN.replace(np.inf, 0, inplace=True)

covid_stats_CLEAN.tail()

,date_updated,iso_code,continent,location,population,population_density,median_age,new_cases,% of Pop - New Cases,new_deaths,% of Pop - New Deaths,new_tests,% of Pop - New Tests,total_cases_updated,% of Pop - Total Cases,total_deaths_updated,% of Pop - Total Deaths,total_tests_updated,% of Pop - Total Tests
40253,2020-08-27,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,55.0,0.000370,13.0,8.746595e-07,951.0,0.006398,6251.0,0.042058,179.0,0.001204,95721.0,0.644025
40254,2020-08-28,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,41.0,0.000276,10.0,6.728150e-07,1551.0,0.010435,6292.0,0.042334,189.0,0.001272,97272.0,0.654461
40255,2020-08-29,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,96.0,0.000646,6.0,4.036890e-07,0.0,0.000000,6388.0,0.042979,195.0,0.001312,97272.0,0.654461
40256,2020-08-30,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,18.0,0.000121,1.0,6.728150e-08,0.0,0.000000,6406.0,0.043101,196.0,0.001319,97272.0,0.654461
40257,2020-08-31,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,6.0,0.000040,0.0,0.000000e+00,0.0,0.000000,6412.0,0.043141,196.0,0.001319,97272.0,0.654461

### Merge and Export

In [26]:
# Merge both DataFrames, drop redundant columns
merged_covid_df = pd.merge(covid_stats_CLEAN,government_regulation_CLEAN, how="left", left_on=['date_updated','location'], right_on=['Date_updated','CountryName'])
merged_covid_df.drop(['Date_updated','CountryName','CountryCode'],axis=1,inplace=True)
merged_covid_df

,date_updated,iso_code,continent,location,population,population_density,median_age,new_cases,% of Pop - New Cases,new_deaths,...,% of Pop - Total Tests,StringencyIndex_updated,percentage_change_stringency,StringencyLegacyIndex_updated,GovernmentResponseIndex_updated,percentage_change_GovernmentResponse,ContainmentHealthIndex_updated,percentage_change_ContainmentHealth,EconomicSupportIndex_updated,percentage_change_EconomicSupport
0,2020-03-13,ABW,North America,Aruba,106766.0,584.800,41.2,2.0,0.001873,0.0,...,0.000000,0.00,0.000000,0.00,2.56,0.000000,3.03,0.000000,0.0,0.0
1,2020-03-19,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,0.0,...,0.000000,33.33,0.000000,42.86,29.49,15.015601,34.85,15.016502,0.0,0.0
2,2020-03-20,ABW,North America,Aruba,106766.0,584.800,41.2,2.0,0.001873,0.0,...,0.000000,33.33,0.000000,42.86,29.49,0.000000,34.85,0.000000,0.0,0.0
3,2020-03-21,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,0.0,...,0.000000,44.44,33.333333,60.71,37.18,26.076636,43.94,26.083214,0.0,0.0
4,2020-03-22,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,0.0,...,0.000000,44.44,0.000000,60.71,37.18,0.000000,43.94,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34922,2020-08-27,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,55.0,0.000370,13.0,...,0.644025,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
34923,2020-08-28,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,41.0,0.000276,10.0,...,0.654461,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
34924,2020-08-29,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,96.0,0.000646,6.0,...,0.654461,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
34925,2020-08-30,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,18.0,0.000121,1.0,...,0.654461,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
34926,2020-08-31,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,6.0,0.000040,0.0,...,0.654461,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0

In [27]:
# Export all three DataFrames to .csv
merged_covid_df.to_csv('../Resources/merged_covid_FINAL.csv', index=False)
covid_stats_CLEAN.to_csv('../Resources/covid_stats_FINAL.csv', index=False)
government_regulation_CLEAN.to_csv('../Resources/government_regulation_FINAL.csv', index=False)

### the end :)