In [11]:
import pandas as pd
import re
import numpy as np

In [12]:
file = "Resources/raw/OxCGRT_latest(Aug31,2020).csv"
gr_df = pd.read_csv(file)

/home/sami/anaconda3/envs/mlenv2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
gr_df.head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
to_remove = [col for col in gr_df if re.search("_Flag",col) != None]

In [15]:
gr_df = gr_df.drop(columns=to_remove)

In [16]:
gr_df.isnull().sum()

CountryName                                  0
CountryCode                                  0
RegionName                               45140
RegionCode                               45140
Date                                         0
C1_School closing                         1763
C2_Workplace closing                      1887
C3_Cancel public events                   1820
C4_Restrictions on gatherings             1853
C5_Close public transport                 1695
C6_Stay at home requirements              1853
C7_Restrictions on internal movement      1741
C8_International travel controls          1841
E1_Income support                         2793
E2_Debt/contract relief                   3222
E3_Fiscal measures                       12399
E4_International support                 12205
H1_Public information campaigns           2299
H2_Testing policy                         2643
H3_Contact tracing                        2671
H4_Emergency investment in healthcare    12890
H5_Investment in vaccines                12487
M1_Wildcard                              58804
ConfirmedCases                           12617
ConfirmedDeaths                          12617
StringencyIndex                           1956
StringencyIndexForDisplay                 1102
StringencyLegacyIndex                     1916
StringencyLegacyIndexForDisplay           1062
GovernmentResponseIndex                   2932
GovernmentResponseIndexForDisplay         2079
ContainmentHealthIndex                    2695
ContainmentHealthIndexForDisplay          1842
EconomicSupportIndex                      3334
EconomicSupportIndexForDisplay            2529
dtype: int64

In [17]:
gr_df["RegionName"] = gr_df["RegionName"].astype(str)

In [18]:
boolean = [v == 'nan' for v in gr_df["RegionName"]]

In [19]:
gr_df = gr_df[boolean].copy()

In [20]:
# Get iso_code, country name dictionary

iso_codes = gr_df["CountryCode"].unique()
country_names = {code:gr_df[gr_df["CountryCode"] == code].CountryName.unique()[0] for code in iso_codes}
country_names["CAN"]

'Canada'

In [35]:
to_keep = [c for c in gr_df if (re.search('^(C\d|E1)',c) != None) | (c in ["Date","CountryCode"]) ]

gr_df = gr_df[to_keep]

gr_df

,CountryCode,Date,C1_School closing,C2_Workplace closing,C3_Cancel public events,C4_Restrictions on gatherings,C5_Close public transport,C6_Stay at home requirements,C7_Restrictions on internal movement,C8_International travel controls,E1_Income support
0,ABW,20200101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ABW,20200102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ABW,20200103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ABW,20200104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ABW,20200105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
58799,ZWE,20200827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58800,ZWE,20200828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58801,ZWE,20200829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58802,ZWE,20200830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58803,ZWE,20200831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
def get_col_index(df, col):
    for i,c in enumerate(df.columns):
        if col == c:
            return i
    return -1

In [37]:
columns = [c for c in gr_df if (re.search('^(C\d|[EH]1)',c) != None) ]  #C1_ , C2_ , ...., E1, ... H1
col_indices = {c:get_col_index(gr_df,c) for c in gr_df}

iso_dfs = []

for code in iso_codes:
    iso_df = gr_df[gr_df["CountryCode"] == code].copy()
    for col in columns:
        col_index = col_indices[col]
        
        if np.isnan(iso_df.iloc[0][col_index]):
            iso_df.iloc[0][col_index] = 0
        
    iso_df.fillna(method="ffill",inplace=True) 
    
    iso_dfs.append(iso_df)
    
cleaned_df = pd.DataFrame()

for iso_df in iso_dfs:
    cleaned_df = cleaned_df.append(iso_df)

/home/sami/anaconda3/envs/mlenv2/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [38]:
columns

['C1_School closing',
 'C2_Workplace closing',
 'C3_Cancel public events',
 'C4_Restrictions on gatherings',
 'C5_Close public transport',
 'C6_Stay at home requirements',
 'C7_Restrictions on internal movement',
 'C8_International travel controls',
 'E1_Income support']

In [39]:
cleaned_df["E1_Income support"].value_counts()

0.0    23752
1.0    12258
2.0     8112
Name: E1_Income support, dtype: int64

In [40]:
cleaned_df.isnull().sum()

CountryCode                                0
Date                                       0
C1_School closing                          0
C2_Workplace closing                       0
C3_Cancel public events                    0
C4_Restrictions on gatherings              0
C5_Close public transport                  0
C6_Stay at home requirements               0
C7_Restrictions on internal movement       0
C8_International travel controls           0
E1_Income support                       1018
dtype: int64

In [41]:
nulls = cleaned_df[np.isnan(cleaned_df["E1_Income support"])]["CountryCode"].unique()

In [42]:
null_codes = list(nulls)

In [43]:
[country_names[code] for code in null_codes]

['Cayman Islands',
 'Falkland Islands',
 'Gibraltar',
 'Montserrat',
 'Pitcairn Islands',
 'Turks and Caicos Islands',
 'British Virgin Islands']

In [44]:
drop_index = cleaned_df[cleaned_df["CountryCode"].isin(null_codes)].index
cleaned_df = cleaned_df.drop(drop_index, axis=0)
cleaned_df.isnull().sum()

CountryCode                             0
Date                                    0
C1_School closing                       0
C2_Workplace closing                    0
C3_Cancel public events                 0
C4_Restrictions on gatherings           0
C5_Close public transport               0
C6_Stay at home requirements            0
C7_Restrictions on internal movement    0
C8_International travel controls        0
E1_Income support                       0
dtype: int64

In [45]:
cleaned_df.columns

Index(['CountryCode', 'Date', 'C1_School closing', 'C2_Workplace closing',
       'C3_Cancel public events', 'C4_Restrictions on gatherings',
       'C5_Close public transport', 'C6_Stay at home requirements',
       'C7_Restrictions on internal movement',
       'C8_International travel controls', 'E1_Income support'],
      dtype='object')

In [46]:
cleaned_df.rename(columns={"CountryCode":"iso_code","Date":"date"},inplace=True)

In [47]:
cleaned_df.to_csv("Resources/raw/OxCGRT_latest(Aug31,2020)-cleaned.csv")